<h1>Gallery Page</h1>
<p>Choose a filter:</p>
<p><%= collection_select(:picture, :category_id, Category.all.order("animal_type ASC"), :id, :animal_type, {:include_blank => "All"}, {:multiple => true}) %>
<%= button_to "Apply Filter", filter_path %>
</p>

<div class=flex-picture_gallery>
    <% @pictures.each do |picture| %>
    
        <%= link_to picture_path(picture) do %>
            <%= render partial: "layouts/picture", locals: {picture: picture, type: "list"} %>
        <% end %>
        
    <% end %>
</div> <%# flex-picture_gallery %>