<h1>Index page PictureController#index</h1>
<% @pictures.each do |picture| %>
    <%= link_to picture_path(picture) do %>
        <%= render partial: "layouts/picture", locals: {picture: picture, width:600, height:600} %>
    <% end %>

    <br><br><strong> ----------------------------------------------------</strong>
<% end %><br>