<h1>Account Dashboard</h1>
<h1> <%= current_user.username %> Dashboard</h1>
<h4>Newest 5 pictures:</h4>
<% @pictures.newest_5.each do |picture| %>
    <%= picture.title %>
    
<% end %>
<%= link_to "More pictures...", user_pictures_path %><br>
<%= link_to "Add picture", new_picture_path %>
